@use '@styles/utils' as *;

.tag {
  @include button(10px);
  padding: 6px 30px;
  color: #fff;
  background-color: $primary-color;
  font-size: to-rem(14px);

  @include tablet {
    font-size: to-rem(10px);
  }
}
