@use 'sass:map';
@use '@styles/utils' as *;
@use '@styles/components/tag';

.tag {
  @include button(tag.$border-radius);
  display: grid;
  grid-template-columns: map.get(tag.$padding, 'horizontal') auto map.get(
      tag.$padding,
      'horizontal'
    );
  grid-template-areas: '. category remove';
  align-items: center;
  gap: 8px;
  padding: map.get(tag.$padding, 'vertical') 0;
  color: tag.$color;
  background-color: tag.$background-color;
  font-size: 1rem;

  &:hover {
    .remove {
      opacity: 1;
    }
  }
}

.category {
  grid-area: category;
}

.remove {
  grid-area: remove;
  width: 20px;
  color: tag.$color;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
