@use 'sass:map';
@use '@styles/utils' as *;
@use '@styles/components/tag';

.tag {
  @include button(tag.$border-radius);
  padding: map.get(tag.$padding, 'vertical') map.get(tag.$padding, 'horizontal');
  color: tag.$color;
  background-color: tag.$background-color;
  font-size: map.get(tag.$font-sizes, 'desktop');

  @include tablet {
    font-size: map.get(tag.$font-sizes, 'tablet');
  }
}
