@use 'sass:map';
@use '@styles/utils' as *;
@use '@styles/components/tag';

.tag {
  @include button(tag.$border-radius);
  padding: tag.$vertical-padding 30px;
  color: #fff;
  background-color: $primary-color;
  font-size: map.get(tag.$font-sizes, 'desktop');

  @include tablet {
    font-size: map.get(tag.$font-sizes, 'tablet');
  }
}
