@use 'sass:color';
@use '@styles/utils' as *;

.nav {
  padding-top: 44px;
  margin: auto auto 0;
}

.pagination {
  @include navigation;
}

.link {
  color: color.scale($secondary-color, $lightness: -20%);
  pointer-events: none;
  transition: all 0.3s ease-in-out;

  &.active {
    color: $primary-color;
    pointer-events: auto;

    &:hover {
      text-decoration: underline;
    }
  }
}
