@use './variables';

@mixin mobile {
  @media screen and (max-width: map-get(variables.$breakpoints, 'mobile')) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: map-get(variables.$breakpoints, 'tablet')) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: map-get(variables.$breakpoints, 'laptop')) {
    @content;
  }
}

@mixin flex-spaced {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@mixin max-width {
  max-width: variables.$max-width;
  margin: 0 auto;
}
