@use './functions' as *;

$body-font: 'Montserrat', sans-serif;

$primary-color: #ff6060;
$secondary-color: #f6f6f6;
$placeholder-color: #737373;

$main-max-width: to-rem(1400px);
$main-desktop-padding: 100px;
$main-mobile-padding: 20px;
$main-border-radius: 25px;
$main-line-height: 1.2;
$button-border-radius: 10px;
$button-padding: (
  'vertical': to-rem(6px),
  'horizontal': 28px,
);
$button-font-sizes: (
  'desktop': to-rem(16px),
  'tablet': to-rem(14px),
  'mobile': to-rem(12px),
);
$button-spacing: 12px;
$input-vertical-padding: to-rem(6px);

$skeleton-animation: (
  'colors': (
    'grey': $secondary-color,
    'white': #fff,
  ),
  'properties': (
    0.75s ease-in-out infinite alternate,
  ),
);

$breakpoints: (
  'laptop': to-rem(1023px),
  'tablet': to-rem(768px),
  'mobile': to-rem(475px),
);
