@use './functions' as *;

$body-font: 'Montserrat', sans-serif;

$primary-color: #ff6060;
$secondary-color: #f6f6f6;

$max-width: to-rem(1400px);
$desktop-padding: 100px;
$mobile-padding: 20px;
$main-br: 25px;
$card-br: 10px;
$collapsible-br: 5px;
$host-pic-size: to-rem(64px);

$breakpoints: (
  'mobile': to-rem(475px),
  'tablet': to-rem(768px),
  'laptop': to-rem(1023px),
);
