@use '@styles/utils' as *;

.transportation {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 40px;

  > :last-child {
    margin-bottom: 12px;
  }
}

.heading {
  color: $primary-color;
  font-weight: 500;
}
