@use 'sass:map';
@use 'sass:color';
@use '@styles/utils' as *;

.transportation {
  display: flex;
  flex-direction: column;
  gap: $button-spacing;
  margin-top: 40px;
}

.heading {
  color: $primary-color;
  font-weight: 500;
}

.strategies {
  @include control-group;
  flex-wrap: wrap;
}

.button {
  @include button;
}

.search {
  @include control-group;
  flex-wrap: wrap;
  margin-bottom: 12px;
}

.input {
  @include input;
  flex: 2;
}

.result {
  @include input;
  flex: 1;
}

.placeholder {
  color: $placeholder-color;
}
