@use 'sass:math';
@use '@styles/utils' as *;

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;

  @include laptop {
    grid-template-columns: 1fr;
  }
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.required {
  color: $primary-color;
  font-size: 14px;
}

.submit {
  @include button;
}
