@use 'sass:map';
@use '@styles/utils' as *;

.rooms {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(to-rem(260px), 1fr));
  gap: 60px;
  border-radius: map.get($border-radiuses, 'large');
  padding: 56px 50px;
  background-color: $secondary-color;

  @include laptop {
    gap: 20px;
    padding: 0;
    background-color: #fff;
  }
}
