@use '@styles/utils' as *;

.heading {
  position: absolute;
  z-index: 3;
  padding: 0 16px;
  color: #fff;
  font-size: to-rem(48px);

  @include laptop {
    font-size: to-rem(34px);
  }

  @include mobile {
    font-size: to-rem(24px);
  }
}

.break {
  display: none;

  @include tablet {
    display: inline;
  }
}
