@use '@styles/utils' as *;

.heading {
  position: absolute;
  z-index: 3;
  padding: 0 16px;
  color: #fff;
  font-size: to-rem(48px);

  @include laptop {
    font-size: to-rem(34px);
  }

  @include mobile {
    font-size: to-rem(24px);
  }
}

.break {
  display: none;

  @include tablet {
    display: inline;
  }
}

.rooms {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(to-rem(260px), 1fr));
  gap: 60px;
  border-radius: $main-border-radius;
  padding: 56px 50px;
  background-color: $secondary-color;

  @include laptop {
    gap: 20px;
    padding: 0;
    background-color: #fff;
  }
}
