@use 'sass:map';
@use 'sass:color';
@use '@styles/utils' as *;

.form {
  @include control-group;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.input {
  @include input;
  flex-grow: 1;
}

.controls {
  @include control-group;
}

.button {
  @include button;
}
