@use 'sass:map';
@use '@styles/utils' as *;
@use '@styles/components/collapsible';

.button {
  @include flex-spaced;
  @include button-base(collapsible.$border-radius);
  padding: collapsible.$vertical-padding 18px;
  color: #fff;
  background-color: $primary-color;
  font-size: inherit;

  @include tablet {
    font-size: map.get(collapsible.$font-sizes, 'base', 'tablet');
  }
}

.icon {
  transition: transform 0.2s ease-out;

  @include tablet {
    transform: scale(0.6);
  }
}

.rotate {
  transform: rotate(180deg);

  @include tablet {
    transform: rotate(180deg) scale(0.6);
  }
}
