@use 'sass:map';
@use '@styles/utils' as *;

.carousel {
  @include flex-center;
  position: relative;
}

.image {
  @include cover-image;
  min-height: 225px;
  aspect-ratio: 1240 / 415;
  border-radius: map.get($border-radiuses, 'large');
}

.nav {
  @include flex-spaced;
  position: absolute;
}
