@use 'sass:map';
@use '@styles/utils' as *;
@use '@styles/components/load-more';

.more {
  @include skeleton-animation;
  width: 150px;
  height: map.get(load-more.$font-sizes, 'desktop') + 2 *
    load-more.$vertical-padding;
  border-radius: load-more.$border-radius;
  margin: load-more.$margin;

  @include tablet {
    width: 125px;
    height: map.get(load-more.$font-sizes, 'tablet') + 2 *
      load-more.$vertical-padding;
  }
}
