@use 'sass:map';
@use 'sass:math';
@use '@styles/utils' as *;
@use '@styles/pages/room';

.collapsibles {
  display: flex;
  gap: 76px;

  @include laptop {
    flex-direction: column;
    gap: 20px;
  }
}

.tags {
  grid-area: tags;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  @include laptop {
    margin-bottom: 16px;
  }
}
