@use '@styles/utils' as *;

.container {
  flex-grow: 1;
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  justify-items: center;
  color: $primary-color;
  text-align: center;
}

.status {
  align-self: end;
  font-size: clamp(96px, 16.5vw, 288px);
  font-weight: 700;
}

.message {
  font-size: clamp(18px, 2vw, 36px);
}

.link {
  color: $primary-color;
  font-size: 18px;
  text-decoration: underline;

  @include mobile {
    font-size: 14px;
  }
}
